{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
<br>
Donations<br>
<br>
<table class=messages>
  <tr>
    <th class=messages>Donor</th>
    <th class=messages>Beneficiary</th>
    <th class=messages>Method</th>
    <th class=messages>Status</th>
    <th class=messages>Amount</th>
    <th class=messages>Initiated</th>
    <th class=messages>Updated</th>
  </tr>
{% for donation in donations %}
<tr>
{% if donation.donor %}
  <td class=messages>{{ donation.donor.firstName}} {{ donation.donor.lastName}}</td>
{% else %}
  <td class=messages>Unassigned</td>
{% endif %}
  <td class=messages>{{ donation.beneficiary.firstName}} {{ donation.beneficiary.lastName}}</td>
  <td class=messages>{{ donation.method.name }}</td>
  <td class=messages>{{ donation.status.name }}</td>
  <td class=messages>{{ donation.amount }}</td>
  <td class=messages>{{ donation.initiated | date() }} </td>
  <td class=messages>{{ donation.updated | date() }} </td>
</tr>
{% endfor %}
</table>
{% endblock %}