{% extends "SiteCoreBundle::layout_nocms.html.twig" %}

{% block content %}
<br>
<a href="{{ path('_a_b_list') }}">Beneficiary List</a><br>
<br>
<table class=messages>
<tr>
  <td colspan=2 class=messages>{{ beneficiary.firstName }} {{ beneficiary.lastName }}</td>
<tr>
<tr>
  <td class=messages>Verification Specialist</td>
  <td class=messages><a href="{{ path('_a_vs_view', {'verifierId': beneficiary.verifier.id}) }}">
  {{ beneficiary.verifier.firstName }} {{beneficiary.verifier.lastName }}</td>
</tr>
<tr>
  <td class=messages>Email</td>
  <td class=messages> {{ beneficiary.user.email }}</td>
</tr>
<tr>
  <td class=messages>SSN</td>
  <td class=messages> {{ beneficiary.ssn }}</td>
</tr>
<tr>
  <td class=messages>Phone</td>
  <td class=messages> {{ beneficiary.phone }}</td>
</tr>
<tr>
  <td class=messages>Fax</td>
  <td class=messages> {{ beneficiary.fax }}</td>
</tr>
<tr>
  <td class=messages>Address</td>
  <td class=messages> {{ beneficiary.address }}</td>
</tr>
<tr>
  <td class=messages>City</td>
  <td class=messages> {{ beneficiary.city }}</td>
</tr>
<tr>
  <td class=messages>State</td>
  <td class=messages> {{ beneficiary.state }}</td>
</tr>
<tr>
  <td class=messages>Zip</td>
  <td class=messages> {{ beneficiary.zip }}</td>
</tr>
<tr>
  <td class=messages>Marital Status</td>
  <td class=messages> {{ beneficiary.maritalStatus.status }}</td>
</tr>
<tr>
  <td class=messages>Dependants</td>
  <td class=messages> {{ beneficiary.dependants }}</td>
</tr>
<tr>
  <td class=messages>Need Urgency</td>
  <td class=messages> {{ beneficiary.needUrgency }}</td>
</tr>
<tr>
  <td class=messages>Need</td>
  <td class=messages>${{ beneficiary.need }}</td>
</tr>
<tr>
  <td class=messages>Original Need</td>
  <td class=messages> {{ beneficiary.needOrig }}</td>
</tr>
<tr>
  <td class=messages>Need Description</td>
  <td class=messages> {{ beneficiary.needDesc }}</td>
</tr>
<tr>
  <td class=messages>Searchable</td>
  <td class=messages> <a href="{{ path('_a_b_searchable', {'beneficiaryId': beneficiary.id}) }}">
{% if beneficiary.searchable %}
Yes
{% else %}
No
{% endif %}
</a></td>
</tr>
</table>
<br>
<a href="{{ path('_message_send', {'targetId': beneficiary.user.id}) }}">Message</a><br>
<a href="{{ path('_vs_review_messages_list', {'userId': beneficiary.user.id}) }}">View Inbox</a><br>
<a href="{{ path('_funds_list', {'targetId': beneficiary.user.id}) }}">View Donations</a>
{% endblock %}